In [1]:
import pandas as pd
import numpy as np
from wordcloud import WordCloud
import matplotlib.pyplot as plt

file = 'election_sample_data.xlsx'
data = pd.ExcelFile(file)
df_sheet1 = data.parse(0)

In [3]:
df_sheet1.head()

,id_str,from_user,text,created_at,time
0,1270361634880413698,dagva_m,@Borohul_A Айлын тойргийн нэр дэвшигч гараад б...,Tue Jun 09 14:26:30 +0000 2020,2020-06-09 15:26:30
1,1270361535882223616,TseM53783433,"RT @batengineer: Социализмын бүх шагнал, цол г...",Tue Jun 09 14:26:06 +0000 2020,2020-06-09 15:26:06
2,1270361412695539712,uranchimeg_d,RT @Anujin_Witch: Тавьж чадахгүй байж ингэж л ...,Tue Jun 09 14:25:37 +0000 2020,2020-06-09 15:25:37
3,1270361049267490816,KaktusOrkhoo2,Бас л лут доромжилж чадаж бгаам шүү энэ нэр дэ...,Tue Jun 09 14:24:10 +0000 2020,2020-06-09 15:24:10
4,1270360734384263173,uranchimeg_d,RT @Bavuu_Sh: МАН-аас Сэлэнгэд нэр дэвшигч Унд...,Tue Jun 09 14:22:55 +0000 2020,2020-06-09 15:22:55

In [4]:
df_sheet1['RT']=df_sheet1['text'].str.contains('RT')

In [5]:
df_sheet1.head()

,id_str,from_user,text,created_at,time,RT
0,1270361634880413698,dagva_m,@Borohul_A Айлын тойргийн нэр дэвшигч гараад б...,Tue Jun 09 14:26:30 +0000 2020,2020-06-09 15:26:30,False
1,1270361535882223616,TseM53783433,"RT @batengineer: Социализмын бүх шагнал, цол г...",Tue Jun 09 14:26:06 +0000 2020,2020-06-09 15:26:06,True
2,1270361412695539712,uranchimeg_d,RT @Anujin_Witch: Тавьж чадахгүй байж ингэж л ...,Tue Jun 09 14:25:37 +0000 2020,2020-06-09 15:25:37,True
3,1270361049267490816,KaktusOrkhoo2,Бас л лут доромжилж чадаж бгаам шүү энэ нэр дэ...,Tue Jun 09 14:24:10 +0000 2020,2020-06-09 15:24:10,False
4,1270360734384263173,uranchimeg_d,RT @Bavuu_Sh: МАН-аас Сэлэнгэд нэр дэвшигч Унд...,Tue Jun 09 14:22:55 +0000 2020,2020-06-09 15:22:55,True

In [6]:
df= df_sheet1[df_sheet1['RT']==False]

In [7]:
df.head()

,id_str,from_user,text,created_at,time,RT
0,1270361634880413698,dagva_m,@Borohul_A Айлын тойргийн нэр дэвшигч гараад б...,Tue Jun 09 14:26:30 +0000 2020,2020-06-09 15:26:30,False
3,1270361049267490816,KaktusOrkhoo2,Бас л лут доромжилж чадаж бгаам шүү энэ нэр дэ...,Tue Jun 09 14:24:10 +0000 2020,2020-06-09 15:24:10,False
7,1270360092681146370,OtgonbayarY,@tsbat_IT @sogoomgl За ёстой балайтлаа. Тайван...,Tue Jun 09 14:20:22 +0000 2020,2020-06-09 15:20:22,False
12,1270358081814200320,papaav_v8,Ховыг хутгаж\nХорыг найруулая\n\nСӨХ-ны даргад...,Tue Jun 09 14:12:23 +0000 2020,2020-06-09 15:12:23,False
13,1270357566409838594,oyunger71388201,@erdene457 МАН мангар их мөнгөтэй бнлээ өнөөдө...,Tue Jun 09 14:10:20 +0000 2020,2020-06-09 15:10:20,False

In [ ]:
text =' '.join(df_copy.astype(str))

In [ ]:
my_cloud = WordCloud(background_color='White',stopwords=['https']).generate(text)
plt.imshow(my_cloud, interpolation='bilinear')
plt.axis('off')
plt.show()

In [ ]:
df_copy.head()

In [ ]:
new_words = []
for lab, row in df_copy.iterrows():
    if row[0]!='RT':
        new_words.append(row)